<header class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4">WebLibCs</h1>
                <p class="lead">Descubre y gestiona tu colección literaria con elegancia y simplicidad</p>
                <div class="hero-buttons">
                    <a href="/Libros" class="btn btn-primary btn-lg me-3">Explorar Libros</a>
                    <a href="/Libros/Create" class="btn btn-outline-secondary btn-lg">Agregar Libro</a>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="hero-image-container">
                    <img src="/imagenes/dalloway.jpg" alt="Colección de libros clásicos" class="img-fluid rounded shadow-lg" />
                </div>
            </div>
        </div>
    </div>
</header>